<div class='max-w-6xl mx-auto px-4 py-12' x-data='{ newAddress: false }'>
  <div class='flex flex-col md:flex-row items-center justify-between my-5 gap-4'>
    <h1 class='text-2xl font-bold text-gray-700'>Addresses</h1>
    <button
      @click='newAddress = true'
      type='button'
      class='text-white font-medium bg-gray-700 hover:bg-gray-900 px-6 py-2'
    >
      Create new address
    </button>
    <a href='{{ routes.account_url }}' class='text-blue-600 hover:text-blue-800 font-medium underline'
      >Back to account</a
    >
  </div>

  {% comment %} Modal Form {% endcomment %}
  <div
    x-show='newAddress'
    class='h-full w-full inset-0 bg-gray-600 bg-opacity-50 z-40 backdrop-blur overflow-y-auto fixed'
    @click.stop='newAddress = false'
  ></div>

  <div x-show='newAddress' class='left-[50%] h-full top-10 overflow-y-auto  fixed z-50 -translate-x-[45%] '>
    <div class='relative max-w-md mx-auto bg-white border p-8 pb-20'>
      <div class='flex items-center justify-between mb-4 border-b border-b-gray-100 py-5'>
        <h2 class='text-lg font-medium'>New Addess</h2>
        <button @click='newAddress = false' class='text-gray-500'>{% render 'icon-close' %}</button>
      </div>

      {% form 'customer_address', customer.new_address %}
        <div class='mb-4'>
          <label for='address_fname_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
            >First name</label
          >
          <input
            type='text'
            name='address[first_name]'
            id='address_fname_{{ form.id }}'
            value='{{ form.first_name }}'
            class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
          >
        </div>

        <div class='mb-4'>
          <label for='address_lname_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
            >Last name</label
          >
          <input
            type='text'
            name='address[last_name]'
            id='address_lname_{{ form.id }}'
            value='{{ form.last_name }}'
            class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
          >
        </div>

        <div class='mb-4'>
          <label for='address_company_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
            >Company</label
          >
          <input
            type='text'
            name='address[company]'
            id='address_company_{{ form.id }}'
            value='{{ form.company }}'
            class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
          >
        </div>

        <div class='mb-4'>
          <label for='address_address1_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
            >Address 1</label
          >
          <input
            type='text'
            name='address[address1]'
            id='address_address1_{{ form.id }}'
            value='{{ form.address1 }}'
            class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
          >
        </div>

        <div class='mb-4'>
          <label for='address_address2_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
            >Address 2</label
          >
          <input
            type='text'
            name='address[address2]'
            id='address_address2_{{ form.id }}'
            value='{{ form.address2 }}'
            class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
          >
        </div>

        <div class='mb-4'>
          <label for='address_city_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'>City</label>
          <input
            type='text'
            name='address[city]'
            id='address_city_{{ form.id }}'
            value='{{ form.city }}'
            class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
          >
        </div>

        <div class='mb-4'>
          <label for='address_country_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
            >Country</label
          >

          <select
            name='address[country]'
            id='address_country_{{ form.id }}'
            value='{{ form.country }}'
            class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
            data-country-selector
            data-id='{{ form.id }}'
          >
            {{ all_country_option_tags }}
          </select>
        </div>

        <div class='mb-4'>
          <label for='address_province_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
            >Province</label
          >
          <select
            name='address[province]'
            id='address_province_{{ form.id }}'
            value='{{ form.province }}'
            class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
          ></select>
        </div>

        <div class='mb-4'>
          <label for='address_zip{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
            >ZIP/Postal Code</label
          >
          <input
            type='text'
            name='address[zip]'
            id='address_zip{{ form.id }}'
            value='{{ form.zip }}'
            class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
          >
        </div>

        <div class='mb-4'>
          <label for='address_phone_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
            >Phone Number</label
          >
          <input
            type='tel'
            name='address[phone]'
            id='address_phone_{{ form.id }}'
            value='{{ form.phone }}'
            class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
          >
        </div>

        <div class='flex flex-row gap-4 mt-6 justify-between'>
          <button
            type='submit'
            class='w-full px-4 py-2 border text-white border-gray-700  font-medium bg-blue-600 hover:bg-blue-800'
          >
            Add New Address
          </button>

          <button
            type='reset'
            class='w-full px-4 py-2 border border-gray-700 text-gray-700 font-medium hover:text-white hover:bg-gray-800'
          >
            Reset
          </button>
        </div>
      {% endform %}
    </div>
  </div>

  <div>
    {% paginate customer.addresses by 12 %}
      <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-12 p-4 md:p-12'>
        {% for address in customer.addresses %}
          <div x-data='{ address_{{ form.id }}: false }'>
            <div class='relative flex flex-col text-center border '>
              {% if address == customer.default_address %}
                <span class='text-xs font-medium text-white bg-green-700 px-4 py-2'>Default</span>
              {% endif %}

              <div class='my-8 h-full text-left p-2'>
                {{ address | format_address }}
              </div>

              <div class='flex flex-row gap-2 p-2'>
                <button
                  @click='address_{{ form.id }} = true'
                  class='w-full text-xs text-white bg-gray-700 hover:bg-gray-900 font-medium py-2'
                >
                  Edit
                </button>
                <button class='w-full text-xs font-medium text-gray-700 border py-2'>Delete</button>
              </div>
            </div>

            {% comment %} Edit form {% endcomment %}
            <div
              x-show='address_{{ form.id }}'
              class='h-full w-full inset-0 bg-gray-600 bg-opacity-50 z-40 backdrop-blur overflow-y-auto fixed'
              @click.stop='address_{{ form.id }} = false'
            ></div>

            <div
              x-show='address_{{ form.id }}'
              class='left-[50%] h-full top-10 overflow-y-auto  fixed z-50 -translate-x-[45%] '
            >
              <div class='relative max-w-md mx-auto bg-white border p-8 pb-20'>
                <div class='flex items-center justify-between mb-4 border-b border-b-gray-100 py-5'>
                  <h2 class='text-lg font-medium'>Edit Addess</h2>
                  <button @click='address_{{ form.id }} = false' class='text-gray-500'>
                    {% render 'icon-close' %}
                  </button>
                </div>

                {% form 'customer_address', address %}
                  <div class='mb-4'>
                    <label for='address_fname_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
                      >First name</label
                    >
                    <input
                      type='text'
                      name='address[first_name]'
                      id='address_fname_{{ form.id }}'
                      value='{{ form.first_name }}'
                      class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
                    >
                  </div>

                  <div class='mb-4'>
                    <label for='address_lname_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
                      >Last name</label
                    >
                    <input
                      type='text'
                      name='address[last_name]'
                      id='address_lname_{{ form.id }}'
                      value='{{ form.last_name }}'
                      class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
                    >
                  </div>

                  <div class='mb-4'>
                    <label for='address_company_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
                      >Company</label
                    >
                    <input
                      type='text'
                      name='address[company]'
                      id='address_company_{{ form.id }}'
                      value='{{ form.company }}'
                      class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
                    >
                  </div>

                  <div class='mb-4'>
                    <label for='address_address1_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
                      >Address 1</label
                    >
                    <input
                      type='text'
                      name='address[address1]'
                      id='address_address1_{{ form.id }}'
                      value='{{ form.address1 }}'
                      class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
                    >
                  </div>

                  <div class='mb-4'>
                    <label for='address_address2_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
                      >Address 2</label
                    >
                    <input
                      type='text'
                      name='address[address2]'
                      id='address_address2_{{ form.id }}'
                      value='{{ form.address2 }}'
                      class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
                    >
                  </div>

                  <div class='mb-4'>
                    <label for='address_city_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
                      >City</label
                    >
                    <input
                      type='text'
                      name='address[city]'
                      id='address_city_{{ form.id }}'
                      value='{{ form.city }}'
                      class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
                    >
                  </div>

                  <div class='mb-4'>
                    <label for='address_country_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
                      >Country</label
                    >

                    <select
                      name='address[country]'
                      id='address_country_{{ form.id }}'
                      value='{{ form.country }}'
                      class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
                      data-country-selector
                      data-id='{{ form.id }}'
                    >
                      {{ all_country_option_tags }}
                    </select>
                  </div>

                  <div class='mb-4'>
                    <label for='address_province_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
                      >Province</label
                    >
                    <select
                      name='address[province]'
                      id='address_province_{{ form.id }}'
                      value='{{ form.province }}'
                      class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
                    >
                      {% comment %}
                        {% if form.province %}
                          <option value='{{ form.province }}' selected>{{ form.province }}</option>
                        {% endif %}
                      {% endcomment %}
                    </select>
                  </div>

                  <div class='mb-4'>
                    <label for='address_zip{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
                      >ZIP/Postal Code</label
                    >
                    <input
                      type='text'
                      name='address[zip]'
                      id='address_zip{{ form.id }}'
                      value='{{ form.zip }}'
                      class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
                    >
                  </div>

                  <div class='mb-4'>
                    <label for='address_phone_{{ form.id }}' class='uppercase text-gray-700 text-xs font-medium mb-2'
                      >Phone Number</label
                    >
                    <input
                      type='tel'
                      name='address[phone]'
                      id='address_phone_{{ form.id }}'
                      value='{{ form.phone }}'
                      class='w-full text-gray-700 border px-4 py-3 focus:outline-none'
                    >
                  </div>

                  <div class='flex flex-row gap-4 mt-6 justify-between'>
                    <button
                      type='submit'
                      class='w-full px-4 py-2 border text-white border-gray-700  font-medium bg-blue-600 hover:bg-blue-800'
                    >
                      Edit Address
                    </button>

                    <button
                      type='reset'
                      class='w-full px-4 py-2 border border-gray-700 text-gray-700 font-medium hover:text-white hover:bg-gray-800'
                    >
                      Reset
                    </button>
                  </div>
                {% endform %}
              </div>
            </div>
            {% comment %} ./end form modal div {% endcomment %}
          </div>
          {% comment %} ./end wrapper div {% endcomment %}
        {% endfor %}
      </div>

      {% render 'pagination', pagination: paginate %}
    {% endpaginate %}
  </div>
</div>

<script type='text/javascript'>
  class CustomerAddress {
    constructor() {
      this.initCustomerAddress();
      this.customerAddressesSelector();
    }

    initCustomerAddress() {
      const allAddressesSelector = document.querySelectorAll('select[data-country-selector]');

      if (allAddressesSelector.length < 1) return;

      const countriesNodes = Array.from(Array.from(allAddressesSelector)[0].querySelectorAll('option'));

      allAddressesSelector.forEach((select, i) => {
        const country = select.getAttribute('value');

        if (!country) return;

        const id = select.dataset.id;

        /**
         * Handle Selected country
         **/
        const provinces = this.getSelectedCountry(select);

        /**
         * Handle Provinces
         **/
        const provinceSelector = document.querySelector(`#address_province_${id}`);

        if (provinces.size === 0) {
          provinceSelector.setAttribute('disabled', 'disabled');
          return;
        }

        provinceSelector.hasAttribute('disabled') && provinceSelector.removeAttribute('disabled');
        const selectedProvince = provinceSelector.getAttribute('value');

        let options = '';
        provinces.forEach((province) => {
          if (province === selectedProvince) {
            options += `<option value="${province}" selected>${province}</option>`;
          } else {
            options += `<option value="${province}">${province}</option>`;
          }
        });

        provinceSelector.innerHTML = options;
      });
    }

    getSelectedCountry(select) {
      let option, selectedOption;

      for (let i = 0; i < select.options.length; i++) {
        option = select.options[i];

        if (option.value === select.getAttribute('value')) {
          selectedOption = option;

          selectedOption.setAttribute('selected', 'selected');
          break;
        }
      }

      return this.getSelectedProvinces(selectedOption);
    }

    getSelectedProvinces(countryOption) {
      const provinces = JSON.parse(countryOption.dataset.provinces);
      return new Map(provinces);
    }

    customerAddressesSelector() {
      const addressesSelector = document.querySelectorAll('select[data-country-selector]');

      if (addressesSelector.length < 1) return;

      addressesSelector.forEach((select) => {
        select.addEventListener('change', (event) => {
          const _this = event.target;

          const provinces = _this.options[_this.selectedIndex].dataset.provinces;
          const arrayOfProvinces = JSON.parse(provinces);

          const provinceSelector = document.querySelector(`#address_province_${_this.dataset.id}`);

          this.prefillProvinces(arrayOfProvinces, provinceSelector);
        });
      });
    }

    prefillProvinces(arrayOfProvinces, provinceSelector) {
      if (arrayOfProvinces.length < 1) {
        provinceSelector.setAttribute('disabled', 'disable');
      } else {
        provinceSelector.hasAttribute('disabled') && provinceSelector.removeAttribute('disabled');

        provinceSelector.innerHTML = '';
      }

      let options = '';

      for (let i = 0; i < arrayOfProvinces.length; i++) {
        options += `<option value="${arrayOfProvinces[i][0]}">${arrayOfProvinces[i][0]}</option>`;
      }

      provinceSelector.innerHTML = options;
    }
  }

  const customerAddress = new CustomerAddress();
</script>
