<section class='py-8'>
  {% paginate blog.articles by section.settings.number_of_blog_posts %}
    <h1 class='text-center font-semibold text-3xl'>{{ blog.title }}</h1>

    <div class='max-w-6xl max-auto'>
      <div class='grid grid-cols-1 md:grid-cols-3 gap-4'>
        <!-- Article -->
        {% for article in blog.articles %}
          <!-- Blog Card -->
          <article class='w-full py-6 px-3'>
            <div class='bg-white shadow-xl rounded-lg overflow-hidden'>
              <!-- image -->
              <a href='{{ article.url }}'>
                {% if article.image %}
                  <img
                    src='{{ article.image | image_url : height : 450 }}'
                    alt='{{ article.image.alt }}'
                    width='auto'
                    height='450'
                    loading='lazy'
                    class='w-full h-60 object-cover'
                  >

                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'w-full h-60 object-cover bg-gray-100' }}
                {% endif %}
              </a>

              <div class='p-4'>
                <!-- title -->
                <h4 class='text-xl font-medium my-4'>{{ article.title }}</h4>

                <!-- excerpt -->
                <p class='text-gray-700'>
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt | strip_html | truncatewords: 15 }}
                  {% else %}
                    {{ article.content | strip_html | truncatewords: 15 }}
                  {% endif %}
                </p>

                <!-- cta -->
                <a
                  href='{{ article.url }}'
                  class='pt-2 mb-4 inline-block font-medium text-blue-600 hover:text-blue-800'
                >
                  {{- section.settings.read_more_text -}}
                </a>
              </div>
            </div>
          </article>
          <!-- ./card -->
        {% endfor %}
      </div>
      <!-- ./article grid -->
    </div>
    <!-- ./row wrapper -->
  {% endpaginate %}
</section>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "range",
      "id": "number_of_blog_posts",
      "default": 3,
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Blog Per Page",
      "info": "Allows to customize number of blog posts displayed"
    },
    {
      "type": "text",
      "id": "read_more_text",
      "label": "Read more text label",
      "default": "Read More &rarr;"
    }
  ]
}
{% endschema %}
