{% paginate blog.articles by section.settings.number_of_blog_posts %}
  {% for article in blog.articles %}
    <div>
      {% if article.image %}
        <img
          src='{{ article.image | image_url : height : 450 }}'
          alt='{{ article.image.alt }}'
          width='auto'
          height='450'
          loading='lazy'
        >

      {% else %}
        {{ 'image' | placeholder_svg_tag: 'w-20' }}
      {% endif %}

      <h4>{{ article.title }}</h4>

      {% if article.excerpt.size > 0 %}
      {% else %}
        <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
      {% endif %}
    </div>
  {% endfor %}
{% endpaginate %}

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "range",
      "id": "number_of_blog_posts",
      "default": 3,
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Blog Per Page",
      "info": "Allows to customize number of blog posts displayed"
    }
  ]
}
{% endschema %}
